<nav>
  <!-- Button -->
  <input id="menu-toggle" type="checkbox">
  <label for="menu-toggle" class="menu-icon">
    <svg class="icon-open" viewBox="0 0 24 24">
      <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
    </svg>
    <svg class="icon-close" viewBox="0 0 100 100">
      <path
        d="M83.288 88.13c-2.114 2.112-5.575 2.112-7.69 0L53.66 66.188c-2.113-2.112-5.572-2.112-7.686 0l-21.72 21.72c-2.114 2.113-5.572 2.113-7.687 0l-4.693-4.692c-2.114-2.114-2.114-5.573 0-7.688l21.72-21.72c2.112-2.115 2.112-5.574 0-7.687L11.87 24.4c-2.114-2.113-2.114-5.57 0-7.686l4.842-4.842c2.113-2.114 5.57-2.114 7.686 0l21.72 21.72c2.114 2.113 5.572 2.113 7.688 0l21.72-21.72c2.115-2.114 5.574-2.114 7.688 0l4.695 4.695c2.112 2.113 2.112 5.57-.002 7.686l-21.72 21.72c-2.112 2.114-2.112 5.573 0 7.686L88.13 75.6c2.112 2.11 2.112 5.572 0 7.687l-4.842 4.84z" />
    </svg>
  </label>

  <!-- Main navigation -->
  <ul class="main-nav">
    <li class="menu-logo">
      <a href="/">Logo / Title</a>
    </li>
    {{#if isAuthenticated}}
    <li><a href="/meetups"><i class="material-icons">supervisor_account</i>View Meetups</a></li>
    <li><a href="/createMeetup"><i class="material-icons">add_location</i>Create new meetup</a></li>
    <li><a href="/profile/{{user._id}}"><i class="material-icons">account_circle</i>Profile</a></li>
    <li><a href="/contact"><i class="material-icons">email</i>Contact</a></li>
    <li><a href="/logout"><i class="material-icons">exit_to_app</i>Logout</a></li>
    {{else}}
    <li><a href="/meetups"><i class="material-icons">supervisor_account</i>View Meetups</a></li>
    <li><a href="/contact"><i class="material-icons">email</i>Contact</a></li>
    <li><a href="/register"><i class="material-icons">face</i>Register</a></li>
    <li><a href="/login"><i class="material-icons">person</i>Login</a></li>
    {{/if}}
  </ul>

  <!-- Mobile navigation -->
  <ul class="sidenav">
    {{#if isAuthenticated}}
    <li><a href="/meetups"><i class="material-icons">supervisor_account</i>View Meetups</a></li>
    <li><a href="/createMeetup"><i class="material-icons">add_location</i>Create new meetup</a></li>
    <li><a href="/profile/{{user._id}}"><i class="material-icons">account_circle</i>Profile</a></li>
    <li><a href="/contact"><i class="material-icons">email</i>Contact</a></li>
    <li><a href="/logout"><i class="material-icons">exit_to_app</i>Logout</a></li>
    {{else}}
    <li><a href="/register"><i class="material-icons">face</i>Register</a></li>
    <li><a href="/login"><i class="material-icons">person</i>Login</a></li>
    {{/if}}
  </ul>
</nav>