<div class="container">
  <form class="grid-forgot-password validate" method="POST" action="/forgotPassword">
    <div class="card forgotPassword">
      <div class="card-content forgotPassword">
        <span class="card-title forgotPassword">Forgot password</span>

        <span class="forgot-password-subtitle">Enter your email here so you can recieve further information about the password reset process</span>

    <!-- Account Error -->
    {{#if accountError}}
    <div class="alert error">
      <span>{{accountError.message}}</span>
    </div>
    {{/if}}

    <!-- Success -->
    {{#if emailSuccess}}
    <div class="alert success">
      <span>{{emailSuccess.message}}</span>
    </div>
    {{/if}}

    <!-- Validation errors -->
    {{#if validationErrors}}
    {{#each validationErrors}}
    <div class="alert error">
      <span>{{msg}}</span>
    </div>
    {{/each}}
    {{/if}}


    <!-- Email -->
    <div class="mat-div">
      <label for="email" class="mat-label">E-mail</label>
      <input type="email" class="mat-input" id="email" name="email" required>
    </div>

    <!-- Submit Button -->
    <div class="btn-forgot-password">
      <button class="btn" type="submit">Submit</button>
    </div>
      </div>
    </div>
  </form>
</div>
